/****************************************************************************/
/*                         VARIABLES — COULEURS                             */
/****************************************************************************/

:root {

    /* ----- Couleurs de branding ----- */
    --color-primary: #8A65B5;
    --color-primary-dark: #6D4998;
    --color-gradient-start: #271a37;

    /* ----- Couleur d'accent ----- */
    --color-accent-green: #34b778;

    /* ----- Couleur du texte ----- */
    --color-text-dark: #333333;
    --color-text-medium: #666666;
    --color-text-light: #E0E0E0;

    /* ----- Background ----- */
    --color-background-body: #F8F8F8;
    --color-white: #ffffff;
}